#Movielens dataset: Regles d'associaci√≥

David Galera

In [28]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [29]:
import pandas as pd
import numpy as np
ratings = pd.read_csv("/content/drive/MyDrive/Advanced ML/ratings.csv")
print('ratings shape:',ratings.shape)
print(ratings.columns)
ratings.head()

ratings shape: (100836, 4)
Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [30]:
movies = pd.read_csv("/content/drive/MyDrive/Advanced ML/movies.csv")
print('movies shape:',movies.shape)
print(movies.columns)
movies.head()

movies shape: (9742, 3)
Index(['movieId', 'title', 'genres'], dtype='object')

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Inserim una columna adicional amb el t√≠tol de la pel¬∑l√≠cula

In [31]:
ratings = pd.merge(ratings,movies[['movieId','title']],on=['movieId'],how='left')
#print(ratings.dtypes)
ratings.head()

   userId  movieId  rating  timestamp                        title
0       1        1     4.0  964982703             Toy Story (1995)
1       1        3     4.0  964981247      Grumpier Old Men (1995)
2       1        6     4.0  964982224                  Heat (1995)
3       1       47     5.0  964983815  Seven (a.k.a. Se7en) (1995)
4       1       50     5.0  964982931   Usual Suspects, The (1995)

In [32]:
print("N√∫mero d'usuaris:",len(ratings.userId.unique()))#610 usuaris
print("N√∫mero de pel¬∑l√≠cules:",len(ratings.title.unique()))#9719 pel¬∑l√≠cules

N√∫mero d'usuaris: 610
N√∫mero de pel¬∑l√≠cules: 9719

Creem un DataFrame on cada inst√†ncia representa un usuari, cada columna representa una pel¬∑l√≠cula i els valors corresponen als ratings dels l'usuaris a les pel¬∑l√≠cules. Les pel¬∑l√≠cules no puntuades pels usuaris les omplim amb un valor de -1.

In [42]:
pivot=ratings.pivot_table(values='rating',index='userId',columns='title',fill_value=-1)
pivot.reset_index(drop=True,inplace=True)
pivot.head()

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]¬≤ (2009),[REC]¬≥ 3 G√©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¬°Three Amigos! (1986),√Ä nous la libert√© (Freedom for Us) (1931)
0,-1,-1,-1.0,-1,-1,-1.0,-1.0,-1,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1,-1,-1.0,-1.0,-1.0,4.0,-1
1,-1,-1,-1.0,-1,-1,-1.0,-1.0,-1,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1
2,-1,-1,-1.0,-1,-1,-1.0,-1.0,-1,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1
3,-1,-1,-1.0,-1,-1,-1.0,-1.0,-1,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1
4,-1,-1,-1.0,-1,-1,-1.0,-1.0,-1,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1,-1,-1.0,-1.0,-1.0,-1.0,-1

Podem veure per exemple com el primer usuari ha votat 232 pel¬∑l√≠cules amb un *rating* mitj√† de 4.36

In [43]:
print(pivot.iloc[0,:][pivot.iloc[0,:]>=0].describe())

count    232.000000
mean       4.366379
std        0.800048
min        1.000000
25%        4.000000
50%        5.000000
75%        5.000000
max        5.000000
Name: 0, dtype: float64

Calculem el rating promig de tot el DataFrame.

In [44]:
ratings.rating[ratings.rating>=0].describe()

count    100836.000000
mean          3.501557
std           1.042529
min           0.500000
25%           3.000000
50%           3.500000
75%           4.000000
max           5.000000
Name: rating, dtype: float64

Establim un rating m√≠nim de 2.5 (equivalent a 5 sobre 10) per classificar la pel¬∑l√≠cula com *puntuada favorablement* per l'usuari. √âs a dir, si cada usuari representa una transacci√≥, la pel¬∑l√≠cula en q√ºesti√≥ forma part de la transacci√≥ si ha estat puntuada amb un rating>=2.5.

In [45]:
llindar = 2.5
pivot = pivot.transform(lambda x: x >= llindar)
print(pivot.iloc[0,:].sum())
pivot.head()

226

title,'71 (2014),'Hellboy': The Seeds of Creation (2004),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),'Tis the Season for Love (2015),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),*batteries not included (1987),...,Zulu (2013),[REC] (2007),[REC]¬≤ (2009),[REC]¬≥ 3 G√©nesis (2012),anohana: The Flower We Saw That Day - The Movie (2013),eXistenZ (1999),xXx (2002),xXx: State of the Union (2005),¬°Three Amigos! (1986),√Ä nous la libert√© (Freedom for Us) (1931)
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Extraiem els itemsets frequents del DataFrame que apareixen com a m√≠nim en un 20% de les transaccions utilitzant l'algorisme *apriori*

In [46]:
from mlxtend.frequent_patterns import apriori
freq_itemsets = apriori(pivot,min_support=0.2,use_colnames=True)
print(freq_itemsets.sort_values('support',ascending=False).tail(30))
print(freq_itemsets.shape)

      support                                           itemsets
220  0.204918  (Usual Suspects, The (1995), Forrest Gump (199...
145  0.204918  (Jurassic Park (1993), Star Wars: Episode IV -...
150  0.204918  (Lord of the Rings: The Fellowship of the Ring...
84   0.203279              (Batman (1989), Jurassic Park (1993))
78   0.203279           (Jurassic Park (1993), Apollo 13 (1995))
101  0.203279  (Fight Club (1999), Lord of the Rings: The Fel...
141  0.203279  (Godfather, The (1972), Star Wars: Episode IV ...
200  0.203279  (Terminator 2: Judgment Day (1991), Star Wars:...
212  0.203279  (Forrest Gump (1994), Jurassic Park (1993), Si...
23   0.203279                                (Goodfellas (1990))
140  0.203279  (Godfather, The (1972), Silence of the Lambs, ...
61   0.201639                                  (Stargate (1994))
106  0.201639  (Fight Club (1999), Star Wars: Episode IV - A ...
137  0.201639        (Matrix, The (1999), Godfather, The (1972))
226  0.201639  (Matrix, The (1999), Lord of the Rings: The Fe...
207  0.201639  (Fight Club (1999), Forrest Gump (1994), Shaws...
237  0.201639  (Star Wars: Episode V - The Empire Strikes Bac...
179  0.201639  (Saving Private Ryan (1998), Shawshank Redempt...
239  0.200000  (Star Wars: Episode IV - A New Hope (1977), St...
178  0.200000  (Star Wars: Episode VI - Return of the Jedi (1...
158  0.200000      (Matrix, The (1999), Schindler's List (1993))
76   0.200000              (Braveheart (1995), Apollo 13 (1995))
136  0.200000  (Godfather: Part II, The (1974), Godfather, Th...
81   0.200000  (Apollo 13 (1995), Silence of the Lambs, The (...
204  0.200000  (Forrest Gump (1994), Braveheart (1995), Silen...
128  0.200000            (Forrest Gump (1994), True Lies (1994))
113  0.200000  (Lord of the Rings: The Two Towers, The (2002)...
98   0.200000   (Fargo (1996), Shawshank Redemption, The (1994))
180  0.200000  (Star Wars: Episode IV - A New Hope (1977), Sa...
229  0.200000  (Raiders of the Lost Ark (Indiana Jones and th...
(243, 2)

Definim les regles d'associaci√≥ d'inter√©s quan la confian√ßa>=0.5

In [47]:
from mlxtend.frequent_patterns import association_rules
asrules = association_rules(freq_itemsets,metric = "confidence", min_threshold = 0.5)
print(asrules.shape)
asrules.head(12)

(410, 9)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Aladdin (1992)),(Forrest Gump (1994)),0.280328,0.521311,0.216393,0.771930,1.480746,0.070255,2.098865
1,(Fight Club (1999)),(American Beauty (1999)),0.342623,0.314754,0.208197,0.607656,1.930572,0.100355,1.746541
2,(American Beauty (1999)),(Fight Club (1999)),0.314754,0.342623,0.208197,0.661458,1.930572,0.100355,1.941791
3,(American Beauty (1999)),(Forrest Gump (1994)),0.314754,0.521311,0.211475,0.671875,1.288817,0.047390,1.458860
4,"(Matrix, The (1999))",(American Beauty (1999)),0.432787,0.314754,0.222951,0.515152,1.636679,0.086729,1.413320
5,(American Beauty (1999)),"(Matrix, The (1999))",0.314754,0.432787,0.222951,0.708333,1.636679,0.086729,1.944731
6,(American Beauty (1999)),(Pulp Fiction (1994)),0.314754,0.475410,0.224590,0.713542,1.500898,0.074953,1.831297
7,(American Beauty (1999)),"(Shawshank Redemption, The (1994))",0.314754,0.513115,0.209836,0.666667,1.299255,0.048331,1.460656
8,(American Beauty (1999)),"(Silence of the Lambs, The (1991))",0.314754,0.442623,0.206557,0.656250,1.482639,0.067240,1.621461
9,(Braveheart (1995)),(Apollo 13 (1995)),0.367213,0.308197,0.200000,0.544643,1.767192,0.086826,1.519254
10,(Apollo 13 (1995)),(Braveheart (1995)),0.308197,0.367213,0.200000,0.648936,1.767192,0.086826,1.802484
11,(Apollo 13 (1995)),(Forrest Gump (1994)),0.308197,0.521311,0.252459,0.819149,1.571323,0.091793,2.646866

# Recomanaci√≥ de pel¬∑l√≠cules donat el t√≠tol d'una o de v√†ries pel¬∑l√≠cules.

Defineixo una funci√≥ que retorna una llista amb els t√≠tols introdu√Øts per l'usuari dels quals vol recomanacions similars. En l'exemple, busquem pel¬∑l√≠cules similars a *American Beauty (1999)*

In [48]:
def pelicules_similars():
  print('Pel¬∑l√≠cules similars a:')
  print("-------------------------")
  titols_similars_a = input("Introdueix una o v√†ries pel¬∑l√≠cules separades per coma:")
  #American Beauty (1999)
  my_list = titols_similars_a.split(",")
  if all(x in list(movies.title) for x in my_list) == False:
      print('T√≠tol/s erroni')
  else:
      return my_list

similar_titles_to = pelicules_similars()

Pel¬∑l√≠cules similars a:
-------------------------
Introdueix una o v√†ries pel¬∑l√≠cules separades per coma:American Beauty (1999)

Busquem dins el DataFrame de regles d'associaci√≥ les regles on tots els *antecedents* formen part de la llista **similar_titles_to** i recomanem els t√≠tols de la columna *consequents* sempre i quan aquests no figurin a la llista **similar_titles_to**.

In [49]:
def troba_titols_per_recomanar(asrules, titles_list):
    titols = []
    for i in asrules.index:#itera entre totes les regles d'associaci√≥
        if asrules["antecedents"][i].issubset(frozenset(similar_titles_to)):#filtra les regles d'associaci√≥ on TOTS els antecedents s√≥n un subset de la llista similar_titles_to
            titols.extend(list(asrules["consequents"][i]))#afegeix els t√≠tols conseq√ºents a la regla     
    return set(titols).difference(set(similar_titles_to))#retorna els t√≠tols que s√≥n conseq√ºents i que no ha introdu√Øt l'usuari
titols_recomanats = troba_titols_per_recomanar(asrules, similar_titles_to)
print(len(titols_recomanats))

6

Imprimim els t√≠tols recomanats a l'usuari.

In [50]:
def escriu_titols(llista_titols):
    for titol in llista_titols:
        print(titol)
        print("-------------------------")

escriu_titols(titols_recomanats)

Fight Club (1999)
-------------------------
Forrest Gump (1994)
-------------------------
Silence of the Lambs, The (1991)
-------------------------
Shawshank Redemption, The (1994)
-------------------------
Matrix, The (1999)
-------------------------
Pulp Fiction (1994)
-------------------------